html {
    // base font: 20px (1rem)
    font-size: 125%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #ebf4fa;
}

.wrapper {
    max-width: 1480px;
    width: 60%;
    margin: 0 auto;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}

.head-shot img {
    width: 20rem;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

p {
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    font-size: 15px;
    color: #333333;
    letter-spacing: 0;
}

// base styling for main buttons
button {
    background-image: linear-gradient(to right, #FF512F 0%, #DD2476 51%, #FF512F 100%);
    padding: 15px 15px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.8s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
    display: block;
    border: none;
    width: 12rem;
    margin-top: 2rem;
}

button:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}