// skip link styling
.skip-link {
    position: absolute;
    left: -1000px;
    top: 5px;
    z-index: 10;

    &:focus {
        left: 0;
    }
}

// nav link positioning and styling
.nav-sect {
    position: sticky;
    top: 0;
    z-index: 20;
    background-color: #fff;

}

.nav-links {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 1.5rem;

    li {
        margin-left: 2rem;
        text-decoration: none;

        a {
            text-decoration: none;
            color: rgb(29, 29, 29);
        }
    }
}