//styling for bio section
.bio-section {
    display: flex;
    align-items: center;
    margin-top: 7rem;
}

.headshot img {
    width: 20rem;
}

.my-bio {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-left: 1.8rem;

    h2 {
        color: #F95353;
        text-transform: uppercase;
    }

    p {
        font-size: 1rem;
    }
}

//styling for services section
.services h2 {
    text-align: center;
    text-transform: uppercase;
    color: #F95353;
    border-radius: solid 2px 4px #f95353;
    font-weight: bold;
    font-size: 2.5rem;
    margin-top: 10rem;
    margin-bottom: 5rem;
}

.gal-container {
    display: flex;
    justify-content: space-evenly;
}

.service-container {
    display: flex;
    flex-direction: column;
    width: 30%;
    background-color: rgb(255, 255, 255);
    text-align: center;
    border-bottom: solid #F95353 5px;

    h3 {
        color: #F95353;
    }

    p {
        margin-bottom: 2rem;
    }
}

// google icons for the services container
.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

//styling for the portfolio section
.portfolio h2 {
    text-align: center;
    text-transform: uppercase;
    color: #F95353;
    border-radius: solid 2px 4px #f95353;
    font-weight: bold;
    font-size: 2.5rem;
    margin-top: 10rem;
    margin-bottom: 5rem;
}

.port-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 30%;
    background-color: rgb(255, 255, 255);
    align-items: center;
    border-bottom: solid #F95353 5px;

    h3 {
        color: #F95353;
    }
}

.port-button {
    padding: .5rem;
    margin-bottom: 2rem;

}